:root{
    --spacing:4%;
    font-size:11px;
    --line-height:1.6;
    --indent:4rem;
    --color-second-voice:#555555;
}

body{
    font-family: 'Jost', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: var(--spacing);
    /* padding:1vw; */
    font-size:1.5rem;
    scroll-snap-type: x proximity;
}

body::after{
    content:"";
    grid-column:1 / 4;
    height:100vh;
}

.text-titles{
    grid-column:1/-1;
    display:flex;
    gap:var(--indent);
    margin: 0 0 4rem var(--indent);
}

h1,h2{
    font-weight:inherit;
    font-size:inherit;
}

section{
    display: contents;
}

#text{
    grid-column: 1 / span 4;
}

p{
    max-inline-size: clamp(50ch, 55ch, 60ch);
    grid-column:1 / -1;
    text-indent:var(--indent);
    line-height:var(--line-height);
    text-wrap:pretty;
    hyphens:auto;
    margin: 0 0 4rem 0;
}

#text p:first-of-type{
    text-indent:0
}

p sup{
    margin-left:0.3rem;
    vertical-align:top;
    position:relative;
    top:-0.5rem;
}

#footnotes{
    grid-column:1/span 4;
}

ul{
    grid-column:1/-4;
    list-style-type:none;
    margin:0;
    padding:0;
    list-style-position: inside;
    display:contents; 
}

#footnotes li{
    grid-column:1/-1;
    display:grid;
    grid-template-columns: var(--indent) 1fr;
    align-items:left;
    margin-bottom:0.5rem;
}

#footnotes li a{
    grid-column:1;
    text-align:right;
    margin-right:0.5rem;
    line-height:var(--line-height);
}

#footnotes li div{
    grid-column:2;
    line-height:var(--line-height);
}

.no-hyphen{
    hyphens: none;
}

.second-voice{
    color:var(--color-second-voice);
    text-indent:0;
    margin-left: var(--indent);
}

.second-voice a{
    color: color-mix(in srgb, var(--color-second-voice) 80%, black);
}